:root {
  --transTime: 0.4s;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif, "Arial", "Microsoft YaHei", "黑体", "宋体",
    sans-serif;

  overflow: hidden;
}
ul {
  list-style: none;
}

.btn {
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  cursor: pointer;
  font-size: 20px;

  width: 2.5em;
  height: 2.5em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all var(--transTime);
  transition-delay: 0.3s;
}
.btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.buttonBox .leftBtn {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: -52px;
  transform: translate(0, -50%);
}

.buttonBox .rightBtn {
  position: fixed;
  z-index: 1;
  top: 50%;
  right: -52px;
  transform: translate(0, -50%);
}

/* ui */
/* ---loading------ */
/* .loadingBox {
  position: fixed;
  z-index: 11;
  background-color: #000;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
} */

#loading {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;

  background-color: #000;
  color: #fff;
}
#loading > div > div {
  padding: 2px;
}
.progress {
  width: 50vw;
  border: 1px solid black;
}
#progressbar {
  width: 0%;
  transition: width ease-out 0.5s;
  height: 1em;
  background-color: #888;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  animation: progressanim 2s linear infinite;
}

@keyframes progressanim {
  0% {
    background-position: 50px 50px;
  }
  100% {
    background-position: 0 0;
  }
}

/* ---home------ */
.homeBox {
  position: fixed;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  width: 50vw;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  padding: 4vw;

  color: white;

  overflow-y: auto;
}

.homeBox::after {
  content: "";
  height: 20%;
  border-left: 4px solid #fff;
  left: 0px;
  top: 4vw;
  position: absolute;
}

.homeBox .enterBox .enterBtn {
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 30vw;
  max-width: 240px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;

  transition: all var(--transTime);

  position: relative;
  overflow: hidden;

  margin-bottom: 8px;
}

.homeBox .enterBox .enterBtn::after {
  content: "";
  display: block;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.4) 50%
  );
  background-size: 210% 100%;
  background-position: right bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* border-radius: 50px; */
  transition: all 1s;
  -webkit-transition: all 1s;
}

.homeBox .enterBox .enterBtn:hover:after {
  background-position: left bottom;
}

.homeBox .imgBox {
  width: 100%;
  height: 18em;
  display: flex;
  justify-content: center;
}

.homeBox .imgBox .img {
  height: 100%;
  object-fit: cover;
}

.homeBox .age {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8em;
}

.homeBox .info {
  text-indent: 2em;
  line-height: 2em;
}

/*下拉框样式*/
#select {
  background: rgba(0, 0, 0, 0);
  width: 30vw;
  max-width: 240px;
  height: 40px;
  font-size: 18px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  z-index: 11;
  margin: 0;
  margin-bottom: 8px;
}
.select-head {
  overflow: hidden;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.select-head .select-head-cont {
  text-align: center;
}
.select-head .select-icon {
  position: absolute;
  right: 8px;
  transform: scaleY(0.8);
}
.option {
  margin-top: 1px;
  background: #a4a4a4;
  line-height: 32px;
  border: 1px #cfcfcf solid;
  text-align: center;
  display: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  z-index: inherit;
}
.option-item {
  height: 32px;
}
.option-item:hover {
  background: rgba(66, 66, 66);
}

/**/

.homeBox .usageInfo {
  list-style: circle;
}

.homeBox .usageInfo .info {
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8em;
  line-height: 0.4em;
}

.enterBox {
  position: relative;
}

/* clickBtn */
.clickBtn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: -30px;
  top: 14px;
}

.hideClickBtn {
  display: none;
}

.hideClickBtn::after {
  display: none;
}

.clickBtn img {
  width: 100%;
  object-fit: cover;
}

.clickBtn::after {
  content: "";
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -2px;
  transform: scale(0);
  pointer-events: none;
  animation: ripple 0.8s ease-out infinite;
}

@keyframes ripple {
  from {
    opacity: 0.2;
  }
  to {
    transform: scale(1.2);
    opacity: 0.1;
  }
}

/* ---main------ */

.mainBox .topBox {
  position: fixed;
  z-index: 1;
  top: -10vh;
  transition: all var(--transTime);

  width: 100vw;
  height: 10vh;
  background-color: #000;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  box-sizing: border-box;
}

.topBox .topR .icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  cursor: pointer;
}

.mainBox .bottomBox {
  position: fixed;
  bottom: -10vh;
  transition: all var(--transTime);

  z-index: 1;
  width: 100vw;
  height: 10vh;
  background-color: #000;
  box-sizing: border-box;
}

.bottomBox .bottomList {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.bottomList .bottomItem {
  width: 100%;
  height: 100%;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: rgba(255, 255, 255, 0.4);

  text-align: center;
}

.bottomList .active {
  transition: all var(--transTime);
  color: #fff;
}

.bottomList .active::before {
  content: "";

  position: absolute;
  top: 0;

  width: 0px;
  height: 0px;
  border: 10px solid #000;
  border-top-color: #fff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.bottomList .bottomItem::after {
  content: "";
  height: 40%;
  border-right: 1px solid #fff;
  position: absolute;
  right: 0;
}
.bottomList .bottomItem:last-child::after {
  border-right: 0;
}

/* showInfo */
.preInfoBox {
  position: absolute;
  top: 12vh;
  left: 80px;
  z-index: 1;
  color: #fff;
}

.preInfoBox .title {
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
  font-size: 24px;
}

.preInfoBox .title::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #fff;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.preInfoBox .infoBodyBox #readMoreBtn {
  margin-left: 8px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.preInfoBox .infoBodyBox {
  width: 30vw;
}

/* readMore点击而来，从右侧展开，其他UI组件隐藏！ */
.detailInfoBox {
  /* 和homeBox一样！ */
  position: fixed;
  right: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 50vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  padding: 6vw 4vw;
  box-sizing: border-box;

  overflow-y: auto;

  color: white;
  text-align: left;

  display: none;
}

.scroll::-webkit-scrollbar {
  /* 滚动条整体样式 */
  width: 4px; /* 高宽分别对应横竖滚动条的尺寸 */
  height: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  /* 滚动条内滑块的样式 */
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.11);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.11);
  background: rgba(255, 255, 255, 0.4);
}

.detailInfoBox .detailCloseBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.detailInfoBox .closeBtnImg {
  object-fit: cover;
  width: 100%;
}

.detailInfoBox .title {
  text-align: left;
  /* margin-top: 60px; */
  font-size: 60px;
  position: relative;
  cursor: pointer;
}

.detailInfoBox .title::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #fff;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.detailInfoBox .title .audioImg {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.detailInfoBox .infoBody {
  margin-top: 8px;
  margin-bottom: 8px;
  text-indent: 2em;
  line-height: 2em;
}

.detailInfoBox .imgBox {
  width: 100%;
  height: 240px;
  overflow: hidden;
  cursor: pointer;

  position: relative;
  margin-bottom: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.detailInfoBox .imgBox .img {
  width: 100%;
  object-fit: contain;
}

.detailInfoBox .videoBox {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  z-index: 11;
}

.detailInfoBox .videoBox .videoBtn {
  width: 2.5em;
  height: 2.5em;
  object-fit: cover;
}

/* videoPageBox */

.videoPageBox,
.imgPageBox {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  opacity: 0;
}

.videoPageBox .videoCloseBtn,
.imgPageBox .imgCloseBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.videoPageBox .closeBtnImg,
.imgPageBox .closeBtnImg {
  object-fit: cover;
  width: 100%;
}
.videoPageBox .video,
.imgPageBox .img {
  width: 90vw;
  height: 80vh;
  object-fit: contain;
}

/* 不同设备修改布局 */

@media screen and (max-width: 450px) {
  .detailInfoBox {
    width: 100vw;
  }
  .detailInfoBox .title {
    font-size: 2em;
    margin-top: 40px;
  }

  .detailInfoBox .title .audioImg {
    width: 24px;
    height: 24px;
  }

  .bottomList .bottomItem {
    font-size: 0.8em;
  }

  .btn {
    width: 2em;
    height: 2em;
  }

  .preInfoBox {
    left: 60px;
  }

  .preInfoBox .infoBodyBox {
    width: 60vw;
  }

  .homeBox {
    width: 100vw;

    justify-content: center;
  }
}
